  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">INFORME ESTADO RESULTADO</h3>
  
          <div class="panel-content">
            <form>
              <h4>Parámetros del Informe</h4>
              <div class="row">
                <div class="col-xs-3">
                  <div class="row">
                    <div class="col-xs-12">
                      <label class="labelInput">Fecha de corte:*</label>
                      <mat-form-field>
                        <input [formControl]="fechaCorteTxt" matInput autocomplete="off" [matDatepicker]="picker" autofocus=""
                          maxlength="19" name="fechaCorteTxt" pinputtext="" placeholder="DD-MM-YYYY HH:MM:SS" type="text"
                          tabindex="0">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>

                </div>
                <div class="col-xs-3">
                  <div class="row">
                    <div class="col-xs-12">
                      <label class="labelInput">Grupo inicial*</label>

                      <mat-form-field>
                        <a matPrefix class="btn btn-xs btn-primary btn-autocompleted">
                          <i class="glyphicon glyphicon-plus"></i>
                        </a>
                        <input type="text" aria-label="Number" matInput [formControl]="grupoInicialTxt"
                          [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filterGrupoInicial | async" [value]="option.nombre">
                            {{option | json}}
                          </mat-option>
                        </mat-autocomplete>
                        <span matSuffix class="glyphicon glyphicon-chevron-down"></span>

                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="row">
                    <div class="col-xs-12">
                      <label class="labelInput">Grupo final*</label>
                      <mat-form-field>
                        <a matPrefix class="btn btn-xs btn-primary btn-autocompleted">
                          <i class="glyphicon glyphicon-plus"></i>
                        </a>
                        <input type="text" aria-label="Number" name="grupoFinalTxt" matInput [formControl]="grupoFinalTxt"
                          [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filterGrupoFinal | async" [value]="option">
                            {{option}}
                          </mat-option>

                        </mat-autocomplete>
                        <span matSuffix class="glyphicon glyphicon-chevron-down">
                        </span>

                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="row">
                    <div class="col-xs-12">
                      <label class="labelInput">Existencia*</label>
                      <mat-form-field>
                        <a matPrefix class="btn btn-xs btn-primary btn-autocompleted">
                          <i class="glyphicon glyphicon-plus"></i>
                        </a>
                        <input type="text" name="existenciaTxt" aria-label="Number" matInput [formControl]="existenciaTxt"
                          [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filterExistencia | async" [value]="option">
                            {{option}}
                          </mat-option>

                        </mat-autocomplete>
                        <span matSuffix class="glyphicon glyphicon-chevron-down">
                        </span>

                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                  <div class="row">
                    <div class="col-xs-12">
                      <label class="labelInput">Bodegas*</label>
                      <mat-form-field>
                        <input type="text" name="bodegasTxt" aria-label="Number" matInput [formControl]="bodegasTxt"
                          [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filterBodegas | async" [value]="option.nombre">
                            {{option.nombre}}
                          </mat-option>
                        </mat-autocomplete>
                        <span matSuffix class="glyphicon glyphicon-chevron-down">
                        </span>

                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-xs-3">
                  <label class="labelInput">Tipo:</label>
                  <mat-form-field>
                    <mat-select [formControl]="tipoTxt" name="tipoTxt">
                      <mat-option [value]="">Jordan</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>